
Dear {{ items.reviewerName }},

A new scheme was submitted at {{ items.scheme.created_at }} by {{ items.initiatorName }} ( {{ items.initiatorCode }} ) for your review. Please login into the Discounts Management Application & navigate to the "Schemes Pending Approval" section on your Dashboard to review and submit the scheme for subsequent approval by {{ items.approverName }} ( {{ items.approverCode }} ).

You will be notified as and when any action has been performed on this scheme.

{% include "emails/basicSchemeDetails.tmpl" %}

Regards,
Discounts Management Portal Administrator
{{ items.url }}

