<!DOCTYPE HTML>

<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>
    <head>
    {% block head %}
        <meta charset="utf-8">
        <title>Akzo | Discounts and Incentives | {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <link rel="icon" href="./favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href={{resolvePath("main.css")}}>
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

        <script type="text/javascript" src={{resolvePath("modernizr.custom.77812.js")}}></script>
    {% endblock %}
    </head>

    <body itemscope itemtype="http://schema.org/WebPage">
        <!-- Dashboard Header -->
        {% block header %}
            
        {% endblock %}
        <!-- Dashboard Header -->
        <!-- Dashboard Body -->           
            <div class = "body-div">
            {% block content %}

            {% endblock %}
            </div>
        <!-- Dashboard Body -->

        <!-- Dashboard Footer -->
        {% block footer %}
            
        {% endblock %}
        
        <!-- Dashboard Footer -->


        {% block scripts %}
            <script type="text/javascript" src={{resolvePath("jquery-2.1.0.min.js")}}></script>
            <script type="text/javascript" src={{resolvePath("native5.core.js")}}></script>
            <script type="text/javascript" src={{resolvePath("native5.core.analytics.js")}}></script>
            <script type="text/javascript" src={{resolvePath("invokeService.js")}}></script>
            <script type="text/javascript" src={{resolvePath("form.js")}}></script>
            <script type="text/javascript" src={{resolvePath("native5.ui.dropdown.js")}}></script>
            <script type="text/javascript" src={{resolvePath("app.js")}}></script>
        {% endblock %}
        
    </body>
</html>
