{% extends "base.html" %}

{% block title %}Create Scheme{% endblock %}

{% block header %} 
    {% include 'header.tmpl' %} 
{% endblock %}

{% block content %}
    <div class = "body-template">
        <aside id="responsive-admin-menu">
        <!--Menu-->
            <div id="menu">
                    <a href={{"./dashboard" | nonce}} title="Dashboard"><i class="fa fa-tachometer"></i><span> 
                    Dashboard</span></a>
                    <a href={{"./template" | nonce}} title="Create Scheme"><i class="fa fa-bullhorn"></i><span> Create Scheme</span></a>
                    <a href="" title="Pages"><i class="fa fa-anchor"></i><span> Pages</span></a>
                    <a href="" title="Media" class="submenu" name="media-sub"><i class="fa fa-eye"></i><span>  
                    Media</span></a>
                        <div id="media-sub" style="display: none;">
                            <a href="" title="Video Gallery"><i class="fa fa-film"></i><span>  
                            Video Gallery</span></a>
                            <a href="" title="Photo Gallery"><i class="fa fa-picture-o"></i><span>  
                            Photo Gallery</span></a>
                        </div>
                    
                    <a href="" title="Graph &amp; Charts"><i class="fa fa-home"></i><span>  
                    Graph &amp; Charts</span></a>
                    <a href="" title="Events"><i class="fa fa-ticket"></i><span>  
                    Events</span></a>

                    <a href="" class="submenu" name="other-sub" title="Other Contents"><i class="fa fa-random"></i><span> 
                    Other Contents</span></a>
                        <div id="other-sub">
                            <a href="" title="Forms"><i class="fa fa-female"></i><span>  
                            Forms</span></a>
                            <a href="" title="Mail Lists"><i class="fa fa-male"></i><span>  
                            Mail Lists</span></a>
                            <a href="" title="Maps"><i class="fa fa-plane"></i><span>  
                            Maps</span></a>
                        </div>
                    <a href="" title="Admin Tools"><i class="fa fa-gear"></i><span>  
                    Admin Tools</span></a>
            </div>
        <!--Menu-->
        </aside>
        <section id="content-wrapper">  
            <div class = "dashboard-content">
                <div class="container n5-template-container" id = "scheme-details"></div>
                
                <div class = "container n5-template-container" id="qualifying-conditions">
                    <div class = "n5-ui-qc-header">
                        Qualifying Conditions
                        <span class="n5-ui-qc-right-btn">
                            <div class="n5-radio-toolbar">
                                <input type="radio" name="satisfyAll" id = "radio_qca" class = "satisfyAll" value="Satisfy All" checked>
                                <label for="radio_qca">Satisfy All</label>
                                <input type="radio" name="satisfyAll" id = "radio_qco" class = "satisfyOne" value="Satisfy Any One">
                                <label for="radio_qco">Satisfy Any One</label> 
                            </div>
                        </span>
                    </div>	
                    <!-- <div id ="n5-ui-qc-click-on" style="text-align:center">
                        <h3 style="margin-top:0px">Click on Add Button to Add a Qualifying Condition</h3>	
                    </div> -->
                    <div id = "n5-qc-list">

                    </div>
                    <div  id="n5-add-Q-conditions" align="center">  
                        <button class="qc-add-condition">Add Qualifying Condition</button>
                    </div>	
                </div>


                <div id="n5-ui-template-add-temp-qc" class="container" style="margin-bottom:20px;padding-left: 0px; padding-right: 0px;">
                    <div class="page-footer">
                        <button id="checkTemplateData" class="page-submit">Submit</button>
                    </div>
                </div>

                <div class="container" id="n5-template-popup">
                    <div id="n5-template-popup-header">
                        <i class="modal_close fa fa-times-circle-o fa-lg"></i>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div id="n5-ui-template-modal-inBill" class="txt-fld div-color">inBill</div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div id="n5-ui-template-modal-ppi" class="txt-fld div-color">PPI</div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div id="n5-ui-template-modal-pri" class="txt-fld div-color">PRI</div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div id="n5-ui-template-modal-slab" class="txt-fld div-color">SLAB</div>
                        </div>
                    </div>
                </div>
                <script type = "text/template" id = "schemeHeader">
                    <div class = "n5-template-header">Scheme Details</div>
                    <div class="n5-ui-sc-row">  
                        <span class="n5-ui-sc-col">
                            <label class="n5-ui-sc-label" for="templateno">Scheme Name</label>
                            <input class="n5-template-box n5-ui-qc-input-placeholder scheme-name" placeholder="Enter Scheme Name" type="text" value = "<%= schemeHeader.name %>"/>
                            <!-- <div class="n5-template-sd-temno-label" name="templateno">XYZVVN</div> -->
                        </span>
                        <span class="n5-ui-sc-col">
                            <label for="segment" class="n5-ui-sc-label">Segment</label>
                            <span  id="n5-segment-type" name="segment">
                                <select multiple class = "n5-segment-select">
                                    {% for item in items.segmentTypes %}
                                        <option value="{{item.textStr}}" <% if (schemeHeader.segment.indexOf("{{item.textStr}}") >= 0) { %>selected<% } %> >{{item.textStr}}</option>
                                    {% endfor %}
                                </select>
                            </span>
                        </span>
                    </div>
                    <div class="n5-ui-sc-row">  
                        <span class="n5-ui-sc-col">
                            <label for="first_name" class="n5-ui-sc-label">Scheme Type</label>
                            <span id="n5-scheme-type">
                                <select class = "n5-schemetype-select" >
                                    {% for item in items.schemeTypes %}
                                        <option value="{{item.attr.value}}" <% if ("{{item.textStr}}" == schemeHeader.type) { %>selected<% } %> >{{item.textStr}}</option>
                                    {% endfor %}
                                </select>
                            </span>
                        </span>
                        <span class="n5-ui-sc-col">
                            <label for="first_name" class="n5-ui-sc-label">Sales Geography</label>
                            <span  id="n5-sales-geography">
                                <input class = "sales-geo-select">
                            </span>
                        </span>
                    </div>
                    <div class="n5-ui-sc-row">  
                        <span class="n5-ui-sc-col n5-ui-sc-col-sp-cor">
                            <label for="first_name" class="n5-ui-sc-label">Sales Period</label>
                            <div class="input-prepend input-group">
                                <span class="add-on input-group-addon">
                                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                </span>
                                <input type="text" name="sales-period" id="sales-period" class="form-control" /> 
                            </div>      
                        </span>
                        <span class="n5-ui-sc-col">
                            <label for="first_name" class="n5-ui-sc-label">Dealers Attribute</label>
                            <span  id="n5-dealers-attribute">
                                <select multiple class = "n5-dealers-select">
                                    {% for item in items.dealerTypes %}
                                        <optgroup label='{{item.name}}'>
                                            {% for object in item.children %}
                                                <option value='{{object.attr.value}}' <% if (schemeHeader.dealerAttributes.indexOf("{{object.textStr}}") >= 0) { %>selected<% } %> >
                                                    {{object.textStr}}
                                                </option>
                                            {% endfor %} 
                                        </optgroup>
                                    {% endfor %}
                                </select>
                            </span>
                        </span>
                    </div>
                    <div class="n5-ui-sc-row last">
                        <span class = "n5-ui-sc-col-sp-cor">
                            <label for="termsConditions" class="n5-ui-sc-label">Terms and Conditions</label>
                            <textarea class = "input-terms-conditions"></textarea>    
                        </span>  
                        
                    </div>
                </script>
                <script type = "text/template" id="n5-ui-template-ppi-template">
                    <div class ="container n5-template-container" id="n5-ui-ppi">
                        <div class="n5-ui-sc-row">  
                            <span class="n5-ui-sc-col">
                                <label class="n5-ui-sc-label" for="templateno">Template Name</label>
                                <input class="n5-template-selectmenu n5-ui-qc-input-placeholder template-name" placeholder="Name" for="templateno" type="text"/>
                            </span>
                            <span class="n5-ui-sc-col">
                                <div class="n5-radio-toolbar">
                                    <input type="radio" id="radio-ppi-c" name="radios-ppi-val"value="value">
                                    <label for="radio-ppi-c">Value</label>
                                    <input type="radio" id="radio-ppi-d" name="radios-ppi-val" value="volume" checked>
                                    <label for="radio-ppi-d">Volume</label> 
                                </div>
                            </span>
                        </div>
                        <div class="n5-ui-sc-row">  
                            <span class="n5-ui-sc-col">
                                <label for="first_name" class="n5-ui-sc-label">Scheme Product</label>
                                <span id="n5-ui-ppi-multiple-scheme-product">
                                    <input type="text" />
                                </span>
                            </span> 
                            <span class="n5-ui-sc-col">
                                <span class="n5-ui-sc-col">
                                    <input type="checkbox" class="css-checkbox" name="bulk" checked="true" />
                                    <label class="css-label" for="bulk">Bulk &nbsp;&nbsp;</label>
                                    <input type="checkbox" class="css-checkbox" name="retail" checked="true" />
                                    <label class="css-label" for="retail">Retail</label>
                                </span>
                            </span>
                        </div>
                        <div class="n5-ui-sc-row">  
                            <span class="n5-ui-sc-col n5-ui-sc-col-sp-cor">
                                <label for="first_name" class="n5-ui-sc-label">Sales Period</label>
                                <div class="input-prepend input-group">
                                    <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span><input type="text" name="reservation" id="n5-date-reservation" class="form-control" readonly placeholder = "Select Period" /> 
                                </div>      
                            </span>
                            <span class="n5-ui-sc-col">
                                <label for="segment" class="n5-ui-sc-label">No Of Slabs</label>
                                <select class="n5-ui-sc-label-sub select-dropdown" id="noofppiTextStr" lastSel="1">1</select>
                            </span>

                        </div>
                        <div id="n5-Q-cond-table-ppi">
                        </div>
                        <div class = "ppi-qualifying-conditions">
                            <div class = "qualifying-conditions-list"></div>
                            <button class="add-condition">Add Qualifying Condition</button>
                        </div>
                    </div>
                </script>

                <script type = "text/template" id="n5-ui-template-slab-template">
                    <div class ="container n5-template-container" id="n5-ui-slab">
                        <div class="n5-ui-sc-row">  
                            <span class="n5-ui-sc-col">
                                <label class="n5-ui-sc-label" for="templateno">Template Name</label>
                                <input class="n5-template-selectmenu n5-ui-qc-input-placeholder template-name" placeholder="Name" for="templateno" type="text"/>
                            </span>
                            <span class="n5-ui-sc-col">
                                <div class="n5-radio-toolbar">
                                    <input type="radio" id="radio-slab-a" name="radios-slab-val"value="value">
                                    <label for="radio-slab-a">Value</label>
                                    <input type="radio" id="radio-slab-b" name="radios-slab-val" value="volume" checked>
                                    <label for="radio-slab-b">Volume</label> 
                                </div>
                            </span>
                        </div>
                        <div class="n5-ui-sc-row">  
                            <span class="n5-ui-sc-col">
                                <label for="first_name" class="n5-ui-sc-label">Scheme Product</label>
                                <span id="n5-ui-slab-multiple-scheme-product">
                                    <input type="text" />
                                </span>
                            </span>     
                            <span class="n5-ui-sc-col">
                                <span class="n5-ui-sc-col">
                                    <input type="checkbox" name="bulk" checked="true" />
                                    <label for="bulk">Bulk &nbsp;&nbsp;</label>
                                    <input type="checkbox" name="retail" checked="true" />
                                    <label for="retail">Retail</label>
                                </span>
                            </span>
                        </div>
                        <div class="n5-ui-sc-row">
                            <span class="n5-ui-sc-col">
                                <label for="segment" class="n5-ui-sc-label">No Of Laps</label>
                                <select class="n5-ui-sc-label-sub select-dropdown" id="nooflapsTextStr" lastSel="1">1</select>
                            </span> 
                            <span class="n5-ui-sc-col">
                                <label for="segment" class="n5-ui-sc-label">No Of Slabs</label>
                                <select class="n5-ui-sc-label-sub select-dropdown" id="noofslabTextStr" lastSel="1">1</select>
                            </span> 
                        </div>
                        <span class=n5-ui-sc-col style="margin-left:1%; margin-bottom:2%;width:48%;">
                            <label for="first_name" class="n5-ui-sc-label">Lap 1 Period</label>
                            <div class="input-prepend input-group">
                                <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span><input type="text" name="reservation" id="n5-date-reservation-slab-table" class="form-control" readonly placeholder = "Select Period" /> 
                            </div>      
                        </span>
                        <div id="n5-Q-cond-table-slab">
                        </div>
                        <div class = "slab-qualifying-conditions">
                            <div class = "qualifying-conditions-list"></div>
                            <button class="add-condition">Add Qualifying Condition</button>
                        </div>
                    </div>
                </script>

                <script type = "text/template" id="n5-ui-template-pri-template">
                    <div class ="container n5-template-container" id="n5-ui-pri">
                        <div class="n5-ui-sc-row">  
                            <span class="n5-ui-sc-col">
                                <label class="n5-ui-sc-label" for="templateno">Template Name</label>
                                <input class="n5-template-selectmenu n5-ui-qc-input-placeholder template-name" placeholder="Name" for="templateno" type="text"/>
                            </span>
                            <span class="n5-ui-sc-col">
                                <div class="n5-radio-toolbar">
                                    <input type="radio" id="radio-pri-a" name="radios-pri-val"value="value">
                                    <label class ="radio-pri-labela" for="radio-pri-a">Value</label>
                                    <input type="radio" id="radio-pri-b" name="radios-pri-val" value="volume" checked>
                                    <label class ="radio-pri-labelb" for="radio-pri-b">Volume</label> 
                                </div>
                            </span>
                        </div>
                        <div class="n5-ui-sc-row">
                            <span class="n5-ui-sc-col">
                                <label for="first_name" class="n5-ui-sc-label">PRI Products</label>
                                <span id="n5-ui-pri-multiple-scheme-product">
                                    <input type="text" />
                                </span>
                            </span>
                            <span class="n5-ui-sc-col">
                                <label for="first_name" class="n5-ui-sc-label n5-ui-minvalvol">Minimum Volume</label>
                                <input class="n5-template-selectmenu n5-ui-qc-input-placeholder input-val-vol" placeholder="2000" type="text"/>
                            </span>         
                        </div>
                        <div class="n5-ui-sc-row">  
                            <span class="n5-ui-sc-col n5-ui-sc-col-sp-cor">
                                <label for="first_name" class="n5-ui-sc-label">Scheme Period</label>
                                <div class="input-prepend input-group">
                                    <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span><input type="text" name="reservation" id="n5-date-reservation-pri" class="form-control" readonly placeholder = "Select Period" /> 
                                </div>      
                            </span>
                            <span class="n5-ui-sc-col">
                                <label for="segment" class="n5-ui-sc-label">No Of Slabs</label>
                                <select class="n5-ui-sc-label-sub select-dropdown" id="noofprisTextStr" lastSel="1">1</select>
                            </span>
                        </div>
                        <div id="n5-Q-cond-table-pri">
                        </div>
                        <div class = "pri-qualifying-conditions">
                            <div class = "qualifying-conditions-list"></div>
                            <button class="add-condition">Add Qualifying Condition</button>
                        </div>
                    </div>
                </script>

                <script type = "text/template" id="n5-ui-template-inBill-template">
                    <div class ="container n5-template-container" id="n5-ui-inBill">
                        <div class="n5-ui-sc-row">  
                            <span class="n5-ui-sc-col">
                                <label class="n5-ui-sc-label" for="templateno">Template Name</label>
                                <input class="n5-template-selectmenu n5-ui-qc-input-placeholder template-name" placeholder="Name" for="templateno" type="text"/>
                            </span>                
                        </div>

                        <div class="n5-ui-sc-row">
                            <span class="n5-ui-sc-col">
                                <label for="segment" class="n5-ui-sc-label">No Of Laps</label>
                                <select class="n5-ui-sc-label-sub select-dropdown" id="nooflapsTextStr" lastSel="1">1</select>
                            </span> 
                            <span class="n5-ui-sc-col">
                                <label for="segment" class="n5-ui-sc-label">No Of Slabs</label>
                                <select class="n5-ui-sc-label-sub select-dropdown" id="noofslabsTextStr" lastSel="1">1</select>
                            </span>
                        </div>

                        <span class=n5-ui-sc-col style="margin-left:1%; margin-bottom:2%; width:48%;">
                            <label for="first_name" class="n5-ui-sc-label">Lap Period 1</label>
                            <div class="input-prepend input-group">
                                <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                <input type="text" name="reservation" id="n5-date-reservation-inBill-table1" class="form-control" readonly placeholder = "Select Period" /> 
                            </div>      
                        </span>

                        <div id="n5-Q-cond-table-inBill"></div>
                        <!-- <div class = "inBill-qualifying-conditions">
                        <div class = "qualifying-conditions-list"></div>
                        <span class="fa fa-plus-square fa-2x add-condition"></span>
                        </div> -->
                    </div>
                </script>

                <script type = "text/template" id="n5-ui-template-qualCond-template">
                    <div class="n5-template-qc-conditions">
                        <div class="n5-ui-qc-btn-par-close">
                            <i class="n5-tempate-close-condition fa fa-times-circle-o pull-right">
                            </i>
                        </div>
                        <div class="n5-template-qc-conditions-row">
                            <span class="n5-template-qc-conditions-col">
                                <select class = "n5-qctype-select">
                                    {% for item in items.qcBasevalue %}
                                        <option value="{{item.attr.value}}" <% if ("{{item.attr.value}}".toUpperCase() == name + " " + type) { %>selected<% } %>>{{item.textStr}}</option>
                                    {% endfor %}
                                </select>
                            </span>
                            <span class="n5-template-qc-conditions-col">
                                <select class = "n5-operator-select">
                                    {% for item in items.qcOperator %}
                                        <option value="{{item.attr.value}}" <% if ("{{item.attr.value}}" == op) { %>selected<% } %> >{{item.textStr}}</option>
                                    {% endfor %}
                                </select>
                            </span>
                            <span class = "n5-input-value-container">
                                <span class="n5-template-qc-conditions-col">
                                    <input class="qc-template-box n5-ui-qc-input-value" placeholder="Value" type="text" value = "<%= val %>" />
                                </span>
                            </span>
                            <span class = "n5-input-datepicker-container">
                                <span class="n5-template-qc-conditions-col">
                                        <span class="add-on input-group-addon">
                                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                        </span>
                                        <input type="text" name="sales-period" class="qc-template-box n5-ui-qc-input-datepicker" readonly placeholder = "Select Period" /> 
                                </span>
                                <span class="n5-template-qc-conditions-col">
                                    <span class="n5-qc-multi-check">
                                        <input class = "input-product-select qc-product-select">
                                    </span>
                                </span>
                            </span>
                            <span class="n5-template-qc-conditions-col">
                                <!-- <span class="n5-template-selectmenu2">
                                    <span class="n5-add-payout">
                                        <i class="fa fa-plus n5-ui-qc-payoutcond">
                                        </i>
                                        Payout Condition
                                    </span>
                                </span> -->
                                <span id="n5-add-percentage1">


                                    <input class="qc-template-box n5-ui-qc-input-payout" placeholder="Payout Percentage %" type="text" value = "<%= payoutCondition %>" />

                                </span>
                            </span>
                        </div>
                    </div>
                </script>
            </div>
        </section>
    </div>

{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}
    {{ parent() }}

    <!-- External libs -->
    <script type="text/javascript" src={{resolvePath("app.js")}}></script>
    <script type="text/javascript" src={{resolvePath("moment.min.js")}}></script>
    <script type="text/javascript" src={{resolvePath("daterangepicker.js")}}></script>
    <script type="text/javascript" src={{resolvePath("native5.select2.js")}}></script>
    <script type="text/javascript" src={{resolvePath("underscore.min.js")}}></script>
    <script type="text/javascript" src={{resolvePath("backbone.min.js")}}></script>
    <!-- n5 wrappers -->
    <script type="text/javascript" src={{resolvePath("native5.ui.card.js")}}></script>
    <script type="text/javascript" src={{resolvePath("native5.ui.modal.js")}}></script>
    <script type="text/javascript" src={{resolvePath("native5.ui.tab.js")}}></script>
    <script type="text/javascript" src={{resolvePath("native5.ui.table.js")}}></script>
    <script type="text/javascript" src={{resolvePath("native5.ui.select.js")}}></script>
    <script type="text/javascript" src={{resolvePath("native5.ui.loader.js")}}></script>
    <script type="text/javascript" src={{resolvePath("native5.notifications.js")}}></script>
    <!-- akzo wrappers -->
    <script type="text/javascript" src={{resolvePath("akzo.ui.select.multiple.js")}}></script>
    <script type="text/javascript" src={{resolvePath("akzo.ui.ppiTemplate.js")}}></script>
    <script type="text/javascript" src={{resolvePath("akzo.ui.inBillTemplate.js")}}></script>
    <script type="text/javascript" src={{resolvePath("akzo.ui.priTemplate.js")}}></script>
    <script type="text/javascript" src={{resolvePath("akzo.ui.slabTemplate.js")}}></script>
    <script type="text/javascript" src={{resolvePath("akzo_menu.js")}}></script>
    <script type="text/javascript" src={{resolvePath("models.js")}}></script>
    <script type="text/javascript" src={{resolvePath("template.js")}}></script>

    
{% endblock %}
