<header>
    <div class="header-main-block header-main-block-shrink">
        <span class = "menu-toggle-container">
            <i class="fa fa-bars menu-toggle trigger" id = "trigger"></i>            
        </span>
        <div class="header-inner-block">
            <h1>Akzo | Discounts</h1>
            
        </div>
        <nav class = "header-navbar">
            <div class = "header-right-button " id = "header-settings">
                <i class="fa fa-wrench header-right-button-icon"></i>
                <span class = "header-right-button-text">
                    Settings
                </span> 
            </div>
            <div class = "header-right-button " id = "header-notifications">
                <i class="fa fa-bell-o header-right-button-icon"></i>
                <span class = "header-right-button-text">
                    Notifications
                </span> 
            </div>
            <div class = "header-right-button" id = "header-profile">
                <i class="fa fa-user header-right-button-icon"></i>
                <span class = "header-right-button-text">
                    Profile
                </span> 
            </div>
        </nav>
    </div>
           
</header>
