<script type = "text/template" id="n5-ui-template-pri-template">
    <div class ="n5-template-container" id="n5-ui-pri<%= counter %>">
        <div class="row">
            <div class="col-md-12">
                <span class="col-md-4" style="margin: 10px 0;">
                    <label class="n5-ui-sc-label">Segments</label>
                    <div class="template-segment-values"></div>
                </span>
                
                <span class="col-md-4" style="margin: 10px 0;">
                    <label for="first_name" class="n5-ui-sc-label n5-ui-minvalvol">Minimum Volume</label>
                    <input class="n5-template-box input-val-vol" type="text" value="<%= value %>" disabled />
                </span>

                <span class="col-md-4" style="margin: 10px 0;">
                    <label for="segment" class="n5-ui-sc-label">No Of Slabs</label>
                    <input class="n5-template-box" value="<%= priDnI.numSlabs %>"  disabled />
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <span class="col-md-4" style="margin: 10px 0;">
                    <label for="first_name" class="n5-ui-sc-label">PRI Products</label>
                    <div class="product-select"></div>
                </span>
                <span class="col-md-4" style="margin: 10px 0;">
                    <div class="ui-project-sku">
                        <input class="js-project-sku" type='checkbox' onclick="return false;" <% if(priDnI.projectSku) { %>checked <% } %> />
                        <span class="js-project-sku-text">Project SKU<span>
                    </div>
                </span>
                <span class="col-md-4" style="margin: 10px 0; padding-top: 25px;">
                    <div class="n5-radio-toolbar">
                        <input type="radio" id="radio-pri-a<%= counter %>" name="radios-pri-val" value="value" <% if(priDnI.priType === "VALUE") { %>checked<% } %>>
                        <label class ="radio-pri-labela<%= counter %>" for="radio-pri-a<%= counter %>">Value</label>
                        <input type="radio" id="radio-pri-b<%= counter %>" name="radios-pri-val" value="volume" <% if(priDnI.priType !== "VALUE") { %>checked<% } %>>
                        <label class ="radio-pri-labelb<%= counter %>" for="radio-pri-b<%= counter %>">Volume</label> 
                    </div>
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <span class="col-md-4" style="margin: 10px 0;">
                    <label for="first_name" class="n5-ui-sc-label">Sales Period</label>
                    <input class="n5-template-box" id="n5-date-reservation-pri<%= counter %>"  disabled />    
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="n5-Q-cond-table-pri<%= counter %>" class="ui-table-parent">
                    <table class="table table-bordered table-striped table-hover" id="dynamicTable">
                        <thead>
                            <tr>
                                <th>No Of Products</th>
                                <th>Payout Rate</th>
                                <th>Payout Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (priDnI.priPayouts.length  > 0) { %>
                            <% _.each(priDnI.priPayouts, function(row, key, list) { %>
                            <tr>
                                <td><input class='n5-template-selectmenu2 n5-ui-qc-input-placeholder' value="<%=row.numProducts%>" placeholder='No Of Products' type='text' disabled /></td>
                                <td><input class='n5-template-selectmenu2 n5-ui-qc-input-placeholder' value="<%=row.payoutValue%>" placeholder='Payout Rate' type='text' disabled /></td>
                                <td>
                                    <span id='n5-ui-pri-table-product<%= key + 1 %>'>
                                        <input class="n5-template-box" value="<%= row.payoutType %>" disabled />
                                    </span>
                                    <% if(row.payoutDescription) { %>
                                        <input class="n5-template-box" value = "<%= row.payoutDescription %>" disabled />
                                    <% } %>
                                </td>
                            </tr>
                            <% var qcData = JSON.stringify(row.qc) %>
                            <% if(qcData !== "null") { %>
                            <tr><td colspan="4"><span id = "pri<%= counter %>-inslabqc<%= key + 1 %>"></div></td></tr>
                            <% } %>
                            <% }); %>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id = "pri-template-qc<%= counter %>"></div>
    </div>
</script>
{% for item in items.schemeData.priTpls %}
<script type = "text/template" id="pri-qc{{loop.index}}">
    <h5>Template Level QCs</h5>
    {% include 'scheme_qualifyingconditions.tmpl' with {'qcList': items.schemeData.priTpls[loop.index0].qcList}  %}
</script>
{% endfor %}

{% for item in items.schemeData.priTpls %}
{% for slabPayout in item.priDnI.priPayouts %}
<script type = "text/template" id="pri{{loop.parent.loop.index}}-slab-qc{{loop.index}}">
    {% include 'scheme_qualifyingconditions.tmpl' with {'qcList': slabPayout.qcList}  %}
</script>
{% endfor %}
{% endfor %}